:root {
    --primary-font: 'Rajdhani', sans-serif;
    --secondary-font: 'Advent Pro', sans-serif;
    --primary-yellow: #FED33F;
    --primary-red: #E8615A;
    --primary-cyan: #2BE4EA;

    --secondary-yellow: #E9ED32;
}


body {
    font-family: var(--primary-font);
    position: relative;
    background-image: url('cyberpunk.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(7px);
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    z-index: -1;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #441618;
    opacity: 0.7;
    z-index: -1;
}

main .main-aug {
    --aug-border-bg: var(--primary-red);
    --aug-border-all: 1px;
    --aug-border-top: 4px;
}


main .section-1-aug {
    --aug-border-bg: var(--primary-red);
    --aug-border-all: 1px;
}

main .section-1-aug:hover {
    --aug-border-bg: var(--primary-cyan);
}


main .code-container {
    position: relative;
    color: white;
    --aug-tl: 1rem;
    --aug-border-all: 1px;
    --aug-border-bg: var(--primary-yellow);
    --aug-inlay-all: 0.5rem;
    --aug-inlay-bg: #1E1E1C;
    --aug-tr: 0.5rem;
    --aug-tr-inset1: 15%;
    --aug-br: 0.5rem;
    --aug-br-extend1: 55%;
    --aug-br-extend2: 55%;
}

main .cmd-content {
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: 2px;
}

main .custom-model-viewer {
    position: relative;
    --aug-tl: 1rem;
    --aug-border-all: 1px;
    --aug-border-bg: var(--primary-yellow);
    --aug-opacity-bg: 0.7;
    --aug-inlay-opacity: 0.5;
    --aug-inlay-bg: #1E1E1C;

}


main .btn.active {
    --aug-border-bg: var(--primary-cyan);
}


main .clear-btn {
    --aug-border-bg: var(--secondary-yellow);
    --aug-border-all: 1px;
}

main .clear-btn:hover {
    --aug-border-bg: var(--primary-cyan);
}


/* .section-1 code,
.section-1 code span {
    font-family: monospace;
    font-size: 0.75rem;
    line-height: 1.25;
    white-space: nowrap;
}

.section-1 code {
    display: block;
    margin: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    overflow: hidden;
}

code {
    font-family: monospace;
}

main .code-type-label {
    display: block;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
    padding: 0.125rem;
    padding-left: 0.25rem;
    background: black;
    color: white;
    font-weight: bold;
    opacity: 0.66;
    border-top-left-radius: 0.25rem;
    --aug-clip-br1: initial;
    --aug-br1: 1rem;
} */

aside.cyberpunk {
    --width: 230px;
    position: fixed;
    top: 50%;
    left: calc(100% - 55px);
    width: var(--width);
    transition: left 0.3s;
}

aside.cyberpunk:hover {
    left: calc(100% - var(--width) + 5px);
}

aside.cyberpunk ul {
    padding: 0;
    margin: 0;
}

aside.cyberpunk ul li {
    display: block;
    background-color: var(--secondary-yellow);
    border: 1px solid #000;
    border-left: 10px solid #000;
    border-bottom: 10px solid #000;
    border-right: none;
    font-size: 1.3rem;
    margin: 3px 0px;
    transform: skew(-15deg);
    transition: background 0.3s, color 0.3s;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% calc(100% - 9px), 0% 100%, 1% 62%);
}

aside.cyberpunk ul li:hover {
    background-color: #000;
}

aside.cyberpunk ul li a {
    display: block;
    padding: 5px 10px;
    color: #000;
    transform: skew(15deg);
    transition: color 0.3s;
}

aside.cyberpunk ul li:hover a {
    color: var(--secondary-yellow);
}

aside.cyberpunk a:after {
    display: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.blinker {
    opacity: 1;
    margin-bottom: -2px;
    height: 15px;
    padding-left: -5px;
    border-left: 7px solid #2BE4EA;
    animation: blinker 0.9s steps(2, start) infinite;
}

@keyframes blinker {
    to {
        visibility: hidden;
    }
}



/* Scrollbar */

*::-webkit-scrollbar {
    background-color: black;
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-yellow);
    border: 1px solid var(--primary-cyan);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-yellow);
}